*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 248, 248);
}
.main-section .main-container .header-row{
    width: 80%;
    float: left;
    margin-right: 0px;
}
.main-section .main-container .header-row .header-col{
    padding: 18px 6px;
    background-color: rgb(231, 231, 231);
}

.main-section .main-container .header-row .main-col{
    margin-top: 10px;
}
.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .title h5{
    color: rgb(129, 129, 129);
}

.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .nav-tabs{
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    width: 190px;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
    border-radius: 5px;
}
.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .nav-tabs li{
    text-align: center;
    
}
.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .nav-tabs li a{
    text-decoration: none;
    display: block;
    padding: 14px 70px;
    color: rgb(114, 114, 114);
}
.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .nav-tabs li .active{
    background-color: rgb(255, 255, 255);
    color: black;
    /* padding: 14px 25px; */
}

.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .tab-content{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 4px;
    padding: 15px 5px;
    color: rgb(148, 148, 148);
    margin-top: 20px;
}

.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .tab-content #overview-tab{
    opacity: 1;
}

.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .tab-content fieldset{
    border: 1px solid rgb(182, 182, 182);
    padding: 5px 12px;
}
.main-section .main-container .header-row .main-col .attribute-frm .ilt-frm .tab-content fieldset legend{
    width: auto;
    padding: 5px 7px;
    margin-left: 8px;
    color: #333333;
}

.main-section .main-container .side-row{
    width: 20%;
    height: 100vh;
    padding-left: 40px !important;
    background-color: rgb(241, 241, 241);
}
.main-section .main-container .side-row .btn-col{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.main-section .main-container .side-row .btn-col .btn-main{
    background-color: rgb(0, 60, 139);
    border: 1px solid rgb(0, 60, 139);
    border-radius: 2px;
    margin-top: 14px;
    padding: 7px 15px;
}

.main-section .main-container .header-row .tab-content .form-group .btn-left{
    text-align: left;
    margin: 25px 0 0 0;
}
.main-section .main-container .header-row .tab-content .form-group .btn-col{
    margin: 25px 0 0 0;
    text-align: center;
}
.main-section .main-container .header-row .tab-content .form-group .btn-left .save-btn{
    background-color: rgb(0, 60, 139);
    border: 1px solid rgb(0, 60, 139);
    border-radius: 2px;
    padding: 6px 20px;
}
.main-section .main-container .header-row .tab-content .form-group .btn-col .save-btn{
    background-color: rgb(0, 60, 139);
    border: 1px solid rgb(0, 60, 139);
    border-radius: 2px;
    padding: 6px 20px;
}



@media screen and (max-width:1500px){
    .main-section .main-container .header-row{
        float: none;
        width: 100%;
    }
    .main-section .main-container .side-row{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .main-section .main-container .side-row .btn-col{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}